# Dependências
node_modules

# Arquivos de Build
dist
.vite

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Arquivos de Ambiente Local (MUITO IMPORTANTE PARA SEGURANÇA)
.env
.env.local
.env.*.local

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
